body {
  display: flex;
}

.title {
  align-self: center;
}

main {
  position: relative;
}

#content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 18.75rem;
  height: 25rem;
  background: hsl(var(--member-card-bg));
  margin: 1.25rem;
  box-shadow: 0 0.9rem 2.1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .cardContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .cardContent .imgBx {
  position: relative;
  width: 9.35rem;
  height: 9.35rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.625rem solid rgba(0, 0, 0, 0.25);
}

.card .imgBx img {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .cardContent .contentBx h3 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 1.25rem 0 0.625rem;
  line-height: 1.1em;
}

.card .cardContent .contentBx span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.card .sci {
  position: absolute;
  /*bottom: 0.125rem;*/
  bottom: -3.5rem;
  display: flex;
}

.card .sci li {
  list-style: none;
  margin: 0 0.625rem;
}

.card .sci li a {
  color: hsl(var(--member-card-link-color));
  font-size: 24px;
}
